{% extends 'execution/layout.html' %}
{% load static %}
{% block title %}Index{% endblock title %}
{% block body %}


<div class="container">
    <center>
        <h1 class="text-light" style="padding-top: 25%;">
            Welcome to International Information Center (IIC)
        </h1>
    </center>
    <div class="container" style="position: relative;">
        <center>
            <form action="/search" method="GET">
                <div class="input-group my-3">
                    <input type="text" name="search" class="form-control" placeholder="Your Query Here"
                        aria-label="Your Query Here" required>
                    <div class="input-group-append">
                        <button class="input-group-text btn btn-secondary" type="submit">Search</button>
                    </div>
                </div>

            </form>
        </center>
    </div>
</div>

{% endblock body %}